---
const { id, nom, prix, ancien_prix, fabrication_fr, code_svg } = Astro.props;
---

<div class="card ...">
    <figure><div set:html={code_svg} /></figure>
    <div class="card-body">
        <h2 class="text-2xl">{nom}</h2>
        <div class="flex justify-between">
            <div>
                {
                    ancien_prix > 0 && (
                        <span class="line-through">{ancien_prix}€</span>
                    )
                }
                <span class="text-xl">{prix}€</span>
            </div>
            <div class="flex gap-3">
                {
                    fabrication_fr === "oui" && (
                        <img
                            class="w-1/8"
                            src="/src/assets/images/france_flag.svg"
                            alt="FR"
                        />
                    )
                }
                <a
                    class="text-lg"
                    href={`/personnaliser/${encodeURIComponent(id)}`}
                    >Personnaliser →</a
                >
            </div>
        </div>
    </div>
</div>
